# ignore test csv file
tweets-covid-19.csv


# ignore irrelevant system folders
/.DS_Store
/.idea
/__pycache__

# ignore irrelevant system files
.pyc 
.DS_Store
__pycache__

# ignore test dataset in the folder
/test_data
