# ignore test csv file
tweets-covid-19.csv


# ignore irrelevant system folders
/.DS_Store
/.idea
/.ipynb_checkpoints

# ignore irrelevant system files
.pyc 
.DS_Store
__pycache__/
.ipynb_checkpoints/

# ignore test dataset in the folder
test_data/
jsonl/
csv/
